form-n8n.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "geopermit-lead",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f297b765-6449-4173-b308-fe2d69f01c7f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -112,
        192
      ],
      "webhookId": "f5fbaabd-5b5a-4787-a876-3d588d573043"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json.body;\nconst firstName = (item.firstName || '').trim();\nconst lastName = (item.lastName || '').trim();\nconst mobile = (item.mobile || '').replace(/\\s+/g, '');\n\nreturn [{\n  json: {\n    fullName: `${firstName} ${lastName}`.trim(),\n    email: item.email || '',\n    mobile: mobile,\n    permitType: item.permitType || '',\n    description: item.description || '',\n    language: item.language || 'en',\n    submittedAt: item.submittedAt || new Date().toISOString()\n  }\n}];"
      },
      "id": "377f5832-3cb9-488f-a884-4bab40a863cf",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        192
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jqTYNKCeNG_LS379uZtQQ6efz28andmdswii4DQSSEg",
          "mode": "list",
          "cachedResultName": "Google Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jqTYNKCeNG_LS379uZtQQ6efz28andmdswii4DQSSEg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jqTYNKCeNG_LS379uZtQQ6efz28andmdswii4DQSSEg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "permitType",
              "displayName": "permitType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d2c77436-93b9-436e-9b9e-20751b395896",
      "name": "Add to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        416,
        32
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cvLDg35yjatNK43k",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "987244947813021",
        "recipientPhoneNumber": "={{ $('Normalize Data').item.json.mobile }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "cc0c1315-e4aa-429b-a864-1c8b514a30e4",
      "name": "Send WhatsApp Welcome1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        816,
        256
      ],
      "webhookId": "8c77b82c-541c-4b12-a784-bfda18d2290c",
      "credentials": {
        "whatsAppApi": {
          "id": "ezlzOsGtFiljSKju",
          "name": "WhatsApp account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a friendly assistant for GeoPermit, a Georgian permit consulting firm.\n\nGenerate a short, warm welcome message for a new client. Use the client's language preference for the message.\n\nClient details:\n- Name: {{ $json.fullName }}\n- Permit type: {{ $json.permitType }}\n- Language: {{ $json.language }}\n\nIf the permit type is provided, mention that you'll help them with that specific permit. If the language is \"ka\", write the message in Georgian. Keep the message concise (2-3 sentences).",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        400,
        256
      ],
      "id": "9dfe2b7c-b0b2-481c-aa0b-0a826e161bd6",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        400,
        448
      ],
      "id": "57c54a98-041e-433a-8edf-85cbf58b4a12",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "EB4N2h3TDU0FpF2U",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Add to Google Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send WhatsApp Welcome1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00681c3f6decbd9345666370d4cf4049932ffb089b8e8d223bf84919a193f384"
  }
}