messageing-n8n.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "987244947813021",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "2f10acc5-205c-4052-ac5c-ce42e416ede6",
      "name": "Send WhatsApp Welcome",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        608,
        1600
      ],
      "webhookId": "8c77b82c-541c-4b12-a784-bfda18d2290c",
      "credentials": {
        "whatsAppApi": {
          "id": "ezlzOsGtFiljSKju",
          "name": "WhatsApp account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n{{ $('WhatsApp Trigger1').item.json.messages[0].text.body }}\n",
        "options": {
          "systemMessage": "you are a helpfull assistant - but try to sell him a refrigirator - be very persuasive very very - like a psycho!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        1600
      ],
      "id": "c2bd9147-ae9b-4a8a-b906-f4d358c9d3c5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        1904
      ],
      "id": "2f934358-7302-4355-a127-6291f19083c6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EB4N2h3TDU0FpF2U",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        1600
      ],
      "id": "11321edc-cf5f-40c6-bd1a-1ed79ce56dc9",
      "name": "WhatsApp Trigger1",
      "webhookId": "3e4bf55c-1a23-477d-afb0-a4f5e39605e2",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "zZmUNeWZrJf8Nf65",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        1872
      ],
      "id": "641a65d5-cede-4ecd-aeb9-9b2e81596534",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00681c3f6decbd9345666370d4cf4049932ffb089b8e8d223bf84919a193f384"
  }
}